//- mixin msg(msg, time, emailId, isSeen)
//-         if emailId
//-             .chatbox_msgbox.own_msgbox(data-email=eamailId)
//-                 if isSeen
//-                     span
//-                         img.seen_indicator(src="/images/icons/seen.svg")
//-                 else
//-                     span
//-                         img.not-seen_indicator(src="/images/icons/not_seen.svg")
//-                 .chatbox_msg.own_msg= msg
//-                 .chatbox_msg-time= time
//-                 .icon-container.own_msg-icon-container
//-                     img.icon-container_icon.chatbox_remove-icon(src="/images/icons/garbage.svg")
//-         else
//-             .chatbox_msgbox.frnds_msgbox(data-email=eamailId)
//-                 .chatbox_msg.frnds_msg= msg
//-                 .chatbox_msg-time= time
//-                 .icon-container.frnds_msg-icon-container
//-                     img.icon-container_icon.chatbox_remove-icon(src="/images/icons/garbage.svg")

.chatbox#js_chatbox
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')
    //- +msg('hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???', '12.05am', 'shoawrin@gmail.com', true)
    //- +msg('hi... How are you???', '12.05am', 'shoawrin@gmail.com', false)
    //- +msg('hi... How are you???', '12.05am', '')

form.chatbox_sendmsg-form#js_chatbox_sendmsg-form
        .icon-container
            img#js_chatbox_sendfile-btn.icon-container_icon.chatbox_remove-icon(src="/images/icons/folder-open-solid.svg")

        input#js_sendmsg-input.chatbox_sendmsg-input.solid-input(type="text", name="msg")

        .icon-container
            img#js_chatbox_sendmsg-btn.icon-container_icon.chatbox_remove-icon(src="/images/icons/paper-plane.svg")




