<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="shortcut icon" type="images/x-icon" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar_userlist-portion"><img class="navbar_logo" src="/images/icons/logo-color.svg" alt="Whisper">
        <div class="icon-container"><img class="icon-container_icon" src="/images/icons/gear.svg"></div>
      </div>
      <div class="navbar_chatbox-portion">
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/call.svg"></div>
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/video.svg"></div>
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/info.svg"></div>
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/power.svg"></div>
      </div>
    </div>
    <div class="userlist">
      <div class="user">
        <div class="user_pic-container"><img src="/images/propics/1.jpg" alt="Nafisa Tasneem"></div>
        <div class="user_info-container"><span class="user_name">Nafisa Tasneem<span class="is-active_indicator"></span></span><span class="user_msg">Hey hello... How are you? I am fine...</span>
        </div>
        <div class="user_confirmation-time-container"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span><span class="msg_time"> <span class="circle"></span>12.03am</span>
        </div>
      </div>
      <div class="user">
        <div class="user_pic-container"><img src="/images/propics/1.jpg" alt="Nafisa Tasneem"></div>
        <div class="user_info-container"><span class="user_name not_read_msg">Nafisa Tasneem<span class="is-active_indicator"></span></span><span class="user_msg not_read_msg">Hey hello... How are you? I am fine...</span>
        </div>
        <div class="user_confirmation-time-container"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span><span class="msg_time"> <span class="circle"></span>12.03am</span>
        </div>
      </div>
    </div>
    <div class="chatbox">
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="seen_indicator" src="/images/icons/seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you??? hi... How are you??? hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox own_msgbox"><span><img class="not-seen_indicator" src="/images/icons/not_seen.svg"></span>
            <div class="chatbox_msg own_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container own_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
          <div class="chatbox_msgbox frnds_msgbox">
            <div class="chatbox_msg frnds_msg">hi... How are you???</div>
            <div class="chatbox_msg-time">12.05am</div>
            <div class="icon-container frnds_msg-icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/garbage.svg"></div>
          </div>
    </div>
    <div class="chatbox_sendmsg-form">
      <input class="chatbox_sendmsg-input solid-input" type="text" name="msg">
      <div class="icon-container"><img class="icon-container_icon chatbox_remove-icon" src="/images/icons/paper-plane.svg"></div>
    </div>
  </body>
</html>