<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="shortcut icon" type="images/x-icon" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
  </head>
  <body>
    <div class="navbar">
      <div class="navbar_userlist-portion"><img class="navbar_logo" src="/images/icons/logo-color.svg" alt="Whisper">
        <div class="icon-container"><img class="icon-container_icon" src="/images/icons/gear.svg"></div>
      </div>
      <div class="navbar_chatbox-portion">
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/call.svg"></div>
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/video.svg"></div>
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/info.svg"></div>
        <div class="icon-container left-gap"><img class="icon-container_icon" src="/images/icons/power.svg"></div>
      </div>
    </div>
  </body>
</html>