.infobox
    .user_pic-container
        img#js_info_pic(src="", alt="")
    span#js_info_name.user_name
    .divider

    .infobox_title Privacy
    .infobox_option 
        span Block Person
        .icon-container
            img.icon-container_icon(src="/images/icons/do-not-disturb-rounded-sign.svg")
    .infobox_option 
        span Clear Chat
        .icon-container
            img.icon-container_icon(src="/images/icons/garbage.svg")

    .divider.top-margin

    .infobox_title Links
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link
    a.infobox_option.link(href="") 
        span Link