doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= title
    link(rel='shortcut icon', type='images/x-icon', href='/images/favicon/favicon.ico')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    script(src="/javascripts/jquery-3.4.1.min.js")
    script(src="/javascripts/aes.js")
    script(src="/socket.io/socket.io.js")
    
  body
    block content

    block scripts
