.navbar
    .navbar_userlist-portion
        img.navbar_logo(src="/images/icons/logo-color.svg", alt="Whisper")
        
        .icon-container
            img.icon-container_icon(src="/images/icons/gear.svg")

    .navbar_chatbox-portion
        .icon-container.left-gap
            img.icon-container_icon(src="/images/icons/call.svg")
        .icon-container.left-gap
            img.icon-container_icon(src="/images/icons/video.svg")
        .icon-container.left-gap
            img.icon-container_icon(src="/images/icons/info.svg")
        .icon-container.left-gap
            img.icon-container_icon(src="/images/icons/power.svg")