extend layout

block content
    
    .dimmer

    .modal
        .modal_title.modal_title--red Error 
        .divider
        .modal_text Please upload a valid picture
        button.modal_btn--close.modal_btn--red Close

    img.bg-container_img(src="/images/background/bg.jpg")

    .bg-container
        .bg-container_logo-div
            img.bg-container_white-logo(src="/images/icons/logo-white.svg")

        form#js_signup_form.bg-container_login-div(method="POST", action="/signup_completion", encType="multipart/form-data")
            h1.login-form_title Sign Up

            //- profile pic input
            .login-form_img
                input#js_pro_pic(type="file", accept="image/x-png,image/jpeg,image/jpg", name="profilePic", onchange="showIMG(this);")
                img#js_show_pro_pic(src="/images/icons/user.svg")
                label#img_overlay(for="js_pro_pic")
                    img(src="/images/icons/camera.svg")

            label User Name 
            input#name(type='name', name='name', autocorrect="off", autocapitalize="off", autocomplete="off", spellcheck="false")
            span#js_name_error_msg.form-error-msg 

            label Email
            input#email(type='email', name='email', autocorrect="off", autocapitalize="off", autocomplete="off", spellcheck="false")
            span#js_email_error_msg.form-error-msg 

            label Password
            input#password(type='password', name='password')
            span#js_password_error_msg.form-error-msg  

            label Retype Password
            input#retypePassword(type='password', name='retypePassword')
            span#js_retype_password_error_msg.form-error-msg 

            button#js_signup_btn Sign Up
            span.form-navigate-msg Have an Account? Please 
                a.form-navigate-msg_link(href="/signin") Sign In


block scripts
    script(src="../javascripts/validator.min.js")
    script(src="../javascripts/script.js")
