<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    <link rel="shortcut icon" type="images/x-icon" href="/images/favicon/favicon.ico">
    <link rel="stylesheet" href="/stylesheets/css/style.css">
    <script src="/javascripts/jquery-3.4.1.min.js"></script>
    <script src="/javascripts/aes.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="dimmer"></div>
    <div class="modal">
      <div class="modal_title modal_title--red">Error </div>
      <div class="divider"></div>
      <div class="modal_text">Invalid email Id or password</div>
      <button class="modal_btn--close modal_btn--red">Close</button>
    </div><img class="bg-container_img" src="/images/background/bg.jpg"><img class="bg-container_img" src="/images/background/bg.jpg">
    <div class="bg-container">
      <div class="bg-container_logo-div"><img class="bg-container_white-logo" src="/images/icons/logo-white.svg"></div>
      <form class="bg-container_login-div" id="js_login_form" method="POST" action="/signincheck" encType="multipart/form-data">
        <h1 class="login-form_title">Sign In</h1>
        <label>Email</label>
        <input id="login_email" type="email" name="email" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" required>
        <label>Password</label>
        <input id="login_password" type="password" name="password" required>
        <button id="js_signin_btn">Sign In</button><span class="form-navigate-msg">Don't Have an Account? Please <a class="form-navigate-msg_link" href="/signup">Sign Up</a></span><span class="form-navigate-msg">Forgot Your Password? <a class="form-navigate-msg_link" href="/signin">Click Here</a></span>
      </form>
    </div>
    <script src="../javascripts/validator.min.js"></script>
    <script src="../javascripts/script.js"></script>
  </body>
</html>